site_name: Nikola Nedevski
site_url: https://blog.nedevski.com

theme:
  name: material
  icon:
    logo: material/home
  palette:
    - scheme: slate
      toggle:
        icon: material/weather-sunny
        name: Dark mode
      primary: black
      accent: deep purple
    - scheme: default
      toggle:
        icon: material/weather-night
        name: Light mode
      primary: indigo
      accent: deep purple
  features:
    - content.code.copy
    - toc.follow
    # - toc.integrate
    - navigation.footer
    - navigation.instant
    - navigation.instant.progress
    - navigation.tracking
    - navigation.top
    - navigation.tabs
    - search.suggest

plugins:
  - search
  - blog
  - tags

markdown_extensions:
  - admonition
  - attr_list
  - md_in_html
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.details
  - pymdownx.caret
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.snippets
  - pymdownx.tilde
  - toc:
      permalink: true

extra:
  generator: true
  social:
    - icon: fontawesome/solid/address-card
      link: https://cv.nedevski.com
    - icon: fontawesome/brands/linkedin
      link: https://linkedin.com/in/nedevski
    - icon: fontawesome/brands/github
      link: https://github.com/nedevski

copyright: Copyright &copy; 2025 Nikola Nedevski

nav:
  - Home: index.md
  - Homelab:
      - homelab/index.md
  - Sample functionality:
      - Examples: examples.md
  - Blog:
      - blog/index.md
